body {
  background-color: #eee;
  margin: 0px auto;
  padding: 30px;
  max-width: 34em;
  font-family: "Source Code Pro", monospace;
  line-height: 1.8;
  font-size: 16px;
  color: #333;
}
p {
  margin: 0 0 1.8em 0;
}
a,
a:visited {
  color: #25b;
  text-decoration: underline;
  text-decoration-color: rgb(151, 177, 228);
  text-underline-offset: 0.1em;
}
a:hover {
  text-decoration-color: #25b;
}
.emoji {
  display: block;
  font-size: 24px;
}

footer p {
  margin-top: 6em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  color: #777;
  font-size: 16px;
}
@media (min-width: 600px) {
  body {
    font-size: 20px;
    padding: 80px 40px 20px 40px;
  }
  .emoji {
    font-size: 32px;
    float: left;
    margin-top: -0.25em;
  }
  p {
    margin-left: 3.4em;
  }
  footer {
    margin-left: 0.6em;
  }
}
